



body {
  margin: 0;
  font-family: 'Noto Sans Kawi', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212529;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 900px;
  margin: 0 auto;
  padding-top: 50px;
  padding: 0 20px;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}

ul{
  margin: 0;
}

.loadingContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}